<!DOCTYPE html>

<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Multi-step form | Queensland Government</title>

    <meta name="description" content="DESCRIPTION">
    <meta name="keywords" content="KEYWORDS">

    <meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou=DEPARTMENT NAME; ou=UNIT NAME">
    <meta name="DCTERMS.publisher" scheme="AGLSTERMS.AglsAgent" content="corporateName=The State of Queensland; jurisdiction=Queensland">
    <meta name="DCTERMS.created" content="2010-11-04">
    <meta name="DCTERMS.modified" content="2011-03-05">
    <meta name="DCTERMS.title" content="Add your heading">
    <meta name="DCTERMS.alternative" content="Add your heading">
    <meta name="DCTERMS.description" content="DESCRIPTION">
    <meta name="DCTERMS.subject" scheme="AGLSTERMS.APAIS" content="SUBJECT">
    <meta name="AGLSTERMS.function" scheme="AGLSTERMS.AGIFT" content="FUNCTION">
    <meta name="DCTERMS.type" scheme="DCTERMS.DCMIType" content="Text">
    <meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="guidelines">
    <meta name="DCTERMS.audience" scheme="AGLSTERMS.agls-audience" content="">
    <meta name="DCTERMS.jurisdiction" scheme="AGLSTERMS.AglsJuri" content="Queensland">

    <!-- Open graph -->
    <meta property="og:title" content="Queensland Government">
    <meta property="og:description" content="DESCRIPTION">
    <meta property="og:image" content="/assets/v4/latest/images/coat-of-arms/coa-thumbnail.png">
    <meta property="og:url" content="">
    <meta property="og:type" content="article" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Queensland Government" />
    <meta name="twitter:description" content="DESCRIPTION" />
    <meta name="twitter:image" content="/assets/v4/latest/images/coat-of-arms/coa-thumbnail.png" />

    <!--#include virtual="/assets/includes-local/head-assets.html"-->

    <style>
        @media (max-width: 991.98px) {
            .qg-breadcrumb-list-item:nth-last-child(2):before {
                content: "";
            }
            .qg-section-nav {display: none;}
        }      
    </style>

</head>

<body data-qg-accessibility="true">

    <!--#include virtual="/assets/includes-local/analytics.html"-->
    <!--#include virtual="/assets/includes-local/header/access.html"-->
    <!-- global alert -->

    <!--#include virtual="/assets/includes-local/header/header-without-location.html"-->
    
    <div class="qg-global-breadcrumb qg-breadcrumb">
        <div class="container-fluid qg-site-width">
            <nav id="qg-breadcrumb" aria-label="breadcrumb" class="qg-breadcrumb-nav row">
            <ol class="qg-breadcrumb-list">
                <li class="qg-breadcrumb-list-item">
                <a href="/" class="qg-breadcrumb-list-item__link">
                    Home
                </a>
                </li>
                <li class="qg-breadcrumb-list-item">
                <a href="#" class="qg-breadcrumb-list-item__link">
                    Birth registration, surrogacy and adoption records
                </a>
                </li>
                <li class="qg-breadcrumb-list-item">
                <a href="iframe.html?args=&id=templates-multistepform--start&viewMode=story" class="qg-breadcrumb-list-item__link">
                    Register a birth
                </a>
                </li>
                <li class="qg-breadcrumb-list-item">
                <a href="#" class="qg-breadcrumb-list-item__link">
                    Review
                </a>
                </li>
            </ol>
            </nav>
        </div>
    </div>
    
    <div class="container-fluid qg-site-width">

        <div id="qg-content">
            <div id="qg-three-col" class="row">

                <div id="qg-primary-content" role="main">

                    <p class="mb-4 font-weight-bold"><a href="#" style="color:#13578b;"><span class="fa fa-chevron-left" style="font-size:small;">&nbsp;</span>Back</a></p>

                    <h1 class="mb-2">Review</h1>
                    <p class="text-muted mb-4">Step 7 of 7</p>
                    <p class="mb-3">Please review your answers below before submitting.</p>

                    <section class="row qg-cards qg-cards__equal-height">
                        <article class="qg-card qg-card__light-theme col-12">
                          <div class="content">
                            <div class="details qg-cards__row-1">
                              <h2 class="mt-2">Who's applying</h2>
                              <p class="mb-4"><a href="#" style="color:#13578b !important;"><span class="fa fa-pencil">&nbsp;</span>Edit</a></p>
                              <p><strong>Who's applying to register the birth of the child</strong><br>Mother/birthing parent</p>
                            </div>
                          </div>
                        </article>

                        <article class="qg-card qg-card__light-theme col-12">
                            <div class="content">
                              <div class="details qg-cards__row-1">
                                <h2 class="mt-2">Details of your child</h2>
                                <p class="mb-4"><a href="#" style="color:#13578b !important;"><span class="fa fa-pencil">&nbsp;</span>Edit</a></p>
                                <p><strong>First name</strong><br>Charlie</p>
                                <p><strong>Middle name/s</strong><br>Alex</p>
                                <p><strong>Last names</strong><br>Smith</p>
                                <p><strong>Date of birth</strong><br>8/10/2022</p>
                                <p><strong>Sex</strong><br>Female</p>
                                <p><strong>Was your child born alive</strong><br>Yes</p>
                                <p><strong>Is this a multiple birth</strong><br>No</p>
                                <p><strong>Did the birth occur in hospital</strong><br>Yes</p>
                                <p><strong>Name of hospital</strong><br>Royal Brisbane and Women's Hospital</p>
                              </div>
                            </div>
                          </article>

                          <article class="qg-card qg-card__light-theme col-12">
                            <div class="content">
                              <div class="details qg-cards__row-1">
                                <h2 class="mt-2">Details of the mother/birthing parent</h2>
                                <p class="mb-4"><a href="#" style="color:#13578b !important;"><span class="fa fa-pencil">&nbsp;</span>Edit</a></p>
                                <p><strong>First name</strong><br>Evan</p>
                                <p><strong>Current last name</strong><br>Sawyer</p>
                                <p><strong>Last name at birth</strong><br>Sawyer</p>
                                <p><strong>Date of birth</strong><br>11/3/1988</p>
                                <p><strong>Town or city of birth</strong><br>Female</p>
                                <p><strong>State or territory or birth</strong><br>Yes</p>
                                <p><strong>Is the mother/birthing parent of Aboriginal origin</strong><br>No</p>
                                <p><strong>Is the mother/birthing parent of Torres Strait Islander origin</strong><br>No</p>
                                <p><strong>Usual occupation</strong><br>Web Designer</p>
                                <p><strong>Can the mother/birthing parent sign the form</strong><br>Yes</p>
                                <p><strong>Contact phone number</strong><br>0412345678</p>
                                <p><strong>Email address</strong><br>email@email.com</p>
                                <p><strong>Home address</strong><br>1 Street Drive<br>Suburb<br>QLD, 4000</p>
                              </div>
                            </div>
                          </article>

                          <article class="qg-card qg-card__light-theme col-12">
                            <div class="content">
                              <div class="details qg-cards__row-1">
                                <h2 class="mt-2">Details of the father/parent</h2>
                                <p class="mb-4"><a href="#" style="color:#13578b !important;"><span class="fa fa-pencil">&nbsp;</span>Edit</a></p>
                                <p><strong>Do you know the name and details of the father/parent</strong><br>No</p>
                              </div>
                            </div>
                          </article>

                          <article class="qg-card qg-card__light-theme col-12">
                            <div class="content">
                              <div class="details qg-cards__row-1">
                                <h2 class="mt-2">Birth certificate</h2>
                                <p class="mb-4"><a href="#" style="color:#13578b !important;"><span class="fa fa-pencil">&nbsp;</span>Edit</a></p>
                                <p><strong>Would you like to order a birth certificate</strong><br>No — I understand I will not receive a birth certificate and I will need to provide proof of identity to get one in the future.</p>
                              </div>
                            </div>
                          </article>

                      </section>
                    
                      <div class="alert alert-info qg-primary-content_notice" role="alert">
                        <h2>
                          <span class="fa fa-info-circle" aria-hidden="true"></span>
                          Privacy notice
                        </h2>
                        <div>
                            <p>The Department of Justice and Attorney-General is collecting your personal information for the purpose of processing your birth registration application under section 9 of the Births, Deaths and Marriages Registration Act 2003, Surrogacy Act 2010 and Relationships Act 2011.</p>
                            <p>The information on this form may be provided to law enforcement agencies and to government and non-government agencies for verification of the data. Access to this information or a certificate may be granted to any person who has adequate reason to obtain it, or who meets the requirements of the <a href="#">access policy</a>.</p>
                        </div>
                      </div>

                    <p class="mt-4"><a href="iframe.html?args=&id=templates-multistepform--confirmation&viewMode=story" type="button" class="qg-btn btn-primary" id="button1">Submit</a></p>

                    <div style="margin-bottom: 4em;"></div>
            
                </div>

                <aside id="qg-secondary-content">
                        
                    <div class="qg-aside" role="complementary">
                        <h2>Need help?</h2>
                        <p>Submit an <a href="https://www.forms.services.bdm.qld.gov.au/#/generalenquiry"> online enquiry</a>.</p>
                        <p>Call <a href="tel:137468">13 QGOV (13 74 68)</a>.</p>
                        <p>International callers: <a href="tel:61733284811">+61 7 3328 4811</a> (+10 hours UTC).</p>
                    </div>
                    
                </aside>

                <nav class="qg-section-nav" aria-label="side navigation" role="navigation">

                    <h2><a href="#">Birth registration, surrogacy and adoption records</a></h2>
                    <ul aria-label="section navigation">
                        <li>
                          <a href="iframe.html?args=&id=templates-multistepform--start&viewMode=story">Register a birth</a>
                        </li>
                        <li>
                          <ul>
                            <li>
                                <a href="iframe.html?args=&id=templates-multistepform--step-one&viewMode=story"><span class="fa fa-check-circle">&nbsp;</span> Consent</a>
                            </li>
                            <li>
                                <a href="iframe.html?args=&id=templates-multistepform--step-two&viewMode=story" class="disabled"><span class="fa fa-check-circle">&nbsp;</span> Who's applying</a>
                            </li>
                            <li>
                                <a href="iframe.html?args=&id=templates-multistepform--step-three&viewMode=story" class="disabled"><span class="fa fa-check-circle">&nbsp;</span> Details of your child</a>
                            </li>
                            <li>
                                <a href="iframe.html?args=&id=templates-multistepform--step-four&viewMode=story" class="disabled"><span class="fa fa-check-circle">&nbsp;</span> Details of the mother/birthing parent</a>
                            </li>
                            <li>
                                <a href="iframe.html?args=&id=templates-multistepform--step-five&viewMode=story"class="disabled"><span class="fa fa-check-circle">&nbsp;</span> Details of the father/parent</a>
                            </li>
                            <li>
                                <a href="iframe.html?args=&id=templates-multistepform--step-six&viewMode=story" class="disabled"><span class="fa fa-check-circle">&nbsp;</span> Birth certificate </a>
                            </li>
                            <li>
                                <a class="active">7 Review</a>
                            </li>
                          </ul>
                    </ul>

                </nav>

            </div>

        </div>
    </div>

    <!--#include virtual="/assets/includes-local/footer/footer-without-location.html"-->

    <script>
      var qg = qg || {};
      qg.swe = qg.swe || {};
      // Used by the feedback form.
      qg.swe.franchiseTitle = 'Franchise Title';
    </script>

    <!--#include virtual="/assets/includes-local/footer/footer-scripts.html"-->

</body>

</html>
