<!DOCTYPE html>

<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Multi-step form | Queensland Government</title>

    <meta name="description" content="DESCRIPTION">
    <meta name="keywords" content="KEYWORDS">

    <meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou=DEPARTMENT NAME; ou=UNIT NAME">
    <meta name="DCTERMS.publisher" scheme="AGLSTERMS.AglsAgent" content="corporateName=The State of Queensland; jurisdiction=Queensland">
    <meta name="DCTERMS.created" content="2010-11-04">
    <meta name="DCTERMS.modified" content="2011-03-05">
    <meta name="DCTERMS.title" content="Add your heading">
    <meta name="DCTERMS.alternative" content="Add your heading">
    <meta name="DCTERMS.description" content="DESCRIPTION">
    <meta name="DCTERMS.subject" scheme="AGLSTERMS.APAIS" content="SUBJECT">
    <meta name="AGLSTERMS.function" scheme="AGLSTERMS.AGIFT" content="FUNCTION">
    <meta name="DCTERMS.type" scheme="DCTERMS.DCMIType" content="Text">
    <meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="guidelines">
    <meta name="DCTERMS.audience" scheme="AGLSTERMS.agls-audience" content="">
    <meta name="DCTERMS.jurisdiction" scheme="AGLSTERMS.AglsJuri" content="Queensland">

    <!-- Open graph -->
    <meta property="og:title" content="Queensland Government">
    <meta property="og:description" content="DESCRIPTION">
    <meta property="og:image" content="/assets/v4/latest/images/coat-of-arms/coa-thumbnail.png">
    <meta property="og:url" content="">
    <meta property="og:type" content="article" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Queensland Government" />
    <meta name="twitter:description" content="DESCRIPTION" />
    <meta name="twitter:image" content="/assets/v4/latest/images/coat-of-arms/coa-thumbnail.png" />

    <!--#include virtual="/assets/includes-local/head-assets.html"-->

    <style>
        @media (max-width: 991.98px) {
            .qg-breadcrumb-list-item:nth-last-child(2):before {
                content: "";
            }
            .qg-section-nav {display: none;}
        }      
    </style>

</head>

<body data-qg-accessibility="true">

    <!--#include virtual="/assets/includes-local/analytics.html"-->
    <!--#include virtual="/assets/includes-local/header/access.html"-->
    <!-- global alert -->

    <!--#include virtual="/assets/includes-local/header/header-without-location.html"-->
    
    <div class="qg-global-breadcrumb qg-breadcrumb">
        <div class="container-fluid qg-site-width">
            <nav id="qg-breadcrumb" aria-label="breadcrumb" class="qg-breadcrumb-nav row">
            <ol class="qg-breadcrumb-list">
                <li class="qg-breadcrumb-list-item">
                <a href="/" class="qg-breadcrumb-list-item__link">
                    Home
                </a>
                </li>
                <li class="qg-breadcrumb-list-item">
                <a href="#" class="qg-breadcrumb-list-item__link">
                    Birth registration, surrogacy and adoption records
                </a>
                </li>
                <li class="qg-breadcrumb-list-item">
                <a href="iframe.html?args=&id=templates-multistepform--start&viewMode=story" class="qg-breadcrumb-list-item__link">
                    Register a birth
                </a>
                </li>
                <li class="qg-breadcrumb-list-item">
                <a href="#" class="qg-breadcrumb-list-item__link">
                    Consent
                </a>
                </li>
            </ol>
            </nav>
        </div>
    </div>
      
    
    <div class="container-fluid qg-site-width">

        <div id="qg-content">
            <div id="qg-three-col" class="row">

                <div id="qg-primary-content" role="main">

                    <p class="mb-4 font-weight-bold"><a href="iframe.html?args=&id=templates-multistepform--start&viewMode=story" style="color:#13578b;"><span class="fa fa-chevron-left" style="font-size:small;">&nbsp;</span>Back</a></p>

                    <h1 class="mb-2">Consent</h1>
                    <p class="text-muted mb-4">Step 1 of 7</p>
                    <p>Required fields are marked with an <span class="text-danger">*</span></p>

                    <h2 class="mt-4 pt-4">By using this service</h2>
                            
                    <ul class="mb-0">
                        <li>I confirm that the child was born in Queensland.</li>
                        <li>I confirm the birth of this child has <strong>not</strong> been registered before (online or in person).</li>
                        <li>I consent to the Registry of Births, Deaths and Marriages (RBDM) using my email address and mobile number for the purpose of providing me with an electronic copy of the information provided and for contact using SMS and email that relates to this service.</li>
                        <li>I understand that it is my responsibility to ensure that I have nominated a secure email address for RBDM to send the completed application and any related correspondence to.</li>
                        <li>I acknowledge that it is my responsibility to ensure the security of that information upon receipt of it.</li>
                    </ul>

                    <form class="qg-forms-v2" novalidate="true">
                        <ol class="questions">
                    
                        <li>
                            <fieldset>
                              <legend>
                                <h2 class="mb-1"><span class="text-danger">*</span> By checking this box, you agree that you have read and understood all of the information above.</h2>
                              </legend>
                              <ul class="choices qg-forms-v2__checkbox">
                                <li>
                                  <input type="checkbox" name="consent-agree" value="agree" id="consent-agree" />
                                  <label for="consent-agree">I agree</label>
                                </li>
                              </ul>
                            </fieldset>
                          </li>
                        </ol>
                      </form>
                    

                    <p class="mt-4"><a href="iframe.html?args=&id=templates-multistepform--step-two&viewMode=story" type="button" class="qg-btn btn-primary" id="button1">Continue</a></p>

                    <div style="margin-bottom: 4em;"></div>
            
                </div>

                <aside id="qg-secondary-content">
                        
                    <div class="qg-aside" role="complementary">
                        <h2>Need help?</h2>
                        <p>Submit an <a href="https://www.forms.services.bdm.qld.gov.au/#/generalenquiry"> online enquiry</a>.</p>
                        <p>Call <a href="tel:137468">13 QGOV (13 74 68)</a>.</p>
                        <p class="mb-3">International callers: <a href="tel:61733284811">+61 7 3328 4811</a> (+10 hours UTC).</p>
                    </div>
                    
                </aside>

                <nav class="qg-section-nav" aria-label="side navigation" role="navigation">

                    <h2><a href="#">Birth registration, surrogacy and adoption records</a></h2>
                    <ul aria-label="section navigation">
                        <li>
                          <a href="iframe.html?args=&id=templates-multistepform--start&viewMode=story">Register a birth</a>
                        </li>
                        <li>
                          <ul>
                            <li>
                                <a class="active">1 Consent</a>
                            </li>
                            <li>
                                <a class="disabled">2 Who's applying</a>
                            </li>
                            <li>
                                <a class="disabled">3 Details of your child</a>
                            </li>
                            <li>
                                <a class="disabled">4 Details of the mother/birthing parent</a>
                            </li>
                            <li>
                                <a class="disabled">5 Details of the father/parent</a>
                            </li>
                            <li>
                                <a class="disabled">6 Birth certificate</a>
                            </li>
                            <li>
                                <a class="disabled">7 Review</a>
                            </li>
                          </ul>
                    </ul>

                </nav>

            </div>

        </div>
    </div>

    <!--#include virtual="/assets/includes-local/footer/footer-without-location.html"-->

    <script>
      var qg = qg || {};
      qg.swe = qg.swe || {};
      // Used by the feedback form.
      qg.swe.franchiseTitle = 'Franchise Title';
    </script>

    <!--#include virtual="/assets/includes-local/footer/footer-scripts.html"-->

</body>

</html>
