<!DOCTYPE html>

<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Multi-step form | Queensland Government</title>

    <meta name="description" content="DESCRIPTION">
    <meta name="keywords" content="KEYWORDS">

    <meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou=DEPARTMENT NAME; ou=UNIT NAME">
    <meta name="DCTERMS.publisher" scheme="AGLSTERMS.AglsAgent" content="corporateName=The State of Queensland; jurisdiction=Queensland">
    <meta name="DCTERMS.created" content="2010-11-04">
    <meta name="DCTERMS.modified" content="2011-03-05">
    <meta name="DCTERMS.title" content="Add your heading">
    <meta name="DCTERMS.alternative" content="Add your heading">
    <meta name="DCTERMS.description" content="DESCRIPTION">
    <meta name="DCTERMS.subject" scheme="AGLSTERMS.APAIS" content="SUBJECT">
    <meta name="AGLSTERMS.function" scheme="AGLSTERMS.AGIFT" content="FUNCTION">
    <meta name="DCTERMS.type" scheme="DCTERMS.DCMIType" content="Text">
    <meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="guidelines">
    <meta name="DCTERMS.audience" scheme="AGLSTERMS.agls-audience" content="">
    <meta name="DCTERMS.jurisdiction" scheme="AGLSTERMS.AglsJuri" content="Queensland">

    <!-- Open graph -->
    <meta property="og:title" content="Queensland Government">
    <meta property="og:description" content="DESCRIPTION">
    <meta property="og:image" content="/assets/v4/latest/images/coat-of-arms/coa-thumbnail.png">
    <meta property="og:url" content="">
    <meta property="og:type" content="article" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Queensland Government" />
    <meta name="twitter:description" content="DESCRIPTION" />
    <meta name="twitter:image" content="/assets/v4/latest/images/coat-of-arms/coa-thumbnail.png" />

    <!--#include virtual="/assets/includes-local/head-assets.html"-->

</head>

<body data-qg-accessibility="true">

    <!--#include virtual="/assets/includes-local/analytics.html"-->
    <!--#include virtual="/assets/includes-local/header/access.html"-->
    <!-- global alert -->

    <!--#include virtual="/assets/includes-local/header/header-without-location.html"-->
    
    <div class="qg-global-breadcrumb qg-breadcrumb">
        <div class="container-fluid qg-site-width">
            <nav id="qg-breadcrumb" aria-label="breadcrumb" class="qg-breadcrumb-nav row">
            <ol class="qg-breadcrumb-list">
                <li class="qg-breadcrumb-list-item">
                <a href="/" class="qg-breadcrumb-list-item__link">
                    Home
                </a>
                </li>
                <li class="qg-breadcrumb-list-item">
                <a href="#" class="qg-breadcrumb-list-item__link">
                    Birth registration, surrogacy and adoption records
                </a>
                </li>
                <li class="qg-breadcrumb-list-item">
                <a href="iframe.html?args=&id=templates-multistepform--start&viewMode=story" class="qg-breadcrumb-list-item__link">
                    Register a birth
                </a>
                </li>
            </ol>
            </nav>
        </div>
    </div>

    <div class="container-fluid qg-site-width">

        <div id="qg-content">
            <div id="qg-three-col" class="row">

                <div id="qg-primary-content" role="main">
                    <!--#include virtual="/assets/includes-local/content/alert.html"-->

                    <h1>Register a birth</h1>
                              
                    <a class="print-content-link" href="#"><span class="fa fa-print"></span> Print</a>

                    <p>All births in Queensland must be registered within 60 days (that's 8 weeks) of the baby being born.</p>
                    
                    <p>If you meet the <a href="#eligibility">eligibility requirements</a>, you can register the birth. It's <strong>free</strong> to do and you can order and pay for a birth certificate at the same time.</p>

                    <p>It can take up to 20 minutes to complete this form.</p>

                    <h2>Why it's important</h2>
                    <p>When you register your child's birth with us you are officially giving your baby a legal name.</p>

                    <p>You can also apply for a birth certificate when you complete the registration. You may need your child's birth certificate to apply for:</p>
                        <ul>
                            <li>access to healthcare and other government services</li> 
                            <li>entry to childcare, kindy or school</li>
                            <li>an Australian passport.</li>
                        </ul>
                    
                    <h2><a name="eligibility"></a></a>Eligibility</h2>

                    <p>We <strong>cannot</strong> register a birth if your baby:</p>  

                    <ul>
                        <li>was born outside of Queensland.</li>
                        <li>was delivered before 20 weeks, or if the number of weeks is unknown and your baby weighed less than 400g. However, you can commemorate your family's loss with an <a href="#">early pregnancy loss recognition certificate</a>.</li>
                    </ul>
                        
                    <h2>What you'll need</h2>
                    
                    <ul>
                        <li><a class="help lightbox" href="#">2 forms of identification</a>.</li>
                        <li>Baby's details including:
                            <ul>
                                <li>full name</li>
                                <li>date, time and place of birth</li>
                                <li>birth weight in grams.</li>
                            </ul>
                        </li>
                        <li>Details of the parent(s) including:
                            <ul>
                                <li>names and address</li>
                                <li>place and date of the birth</li>
                                <li>places and dates of parents' birth</li>
                                <li>date of parents' marriage or civil partnership</li>
                                <li>parents' jobs</li>
                                <li>mother's maiden surname</li>
                            </ul>
                        </li>
                            
                    </ul>

                    <h2>Processing times</h2>

                    <p>Processing of the registration form can take up to 10 business days.</p>
                    
                    <p>If you order a birth certificate at the same time, we'll post the certificate to you as soon as the registration has been processed.</p>
                        
                    <h2>Fees</h2>
                        
                    <ul>
                        <li><strong>Free</strong> - Registrations within 60 days of the birth.</li>
                        <li><strong>$5.45</strong> - May apply for late registrations outside the 60 day period.</li>
                        <li><strong>$52.60</strong> - Official birth certificate (standard postage included).</li>
                        <li><strong>$68.35</strong> - Commemorative birth certificate package (1 official birth certificate and standard postage included).</li>
                    </ul>

                    <h2>More information</h2>

                    <section class="qg-accordion qg-light-accordion qg-accordion-v2">
                        <article>
                            <button class="acc-heading qg-accordion--closed">
                                <a class="qg-accordion--ga" data-analytics-link-group="accordion title - Accordion title">
                                <span class="accordion-label">
                                    <span class="title">If you cannot register the birth online</span>
                                </span>
                                </a>
                            </button>
                            <div class="collapsing-section" id="id-panel-1-249931">
                                <ol>
                                    <li>Download and print the <a href="https://publications.qld.gov.au/dataset/birth-registration/resource/c52c1bfa-ec2d-4af3-b0a1-56242007f3cc">birth registration application form</a>.</li>
                                    <li>Complete the registration form.</li>
                                    <li>Have both parents sign the declaration section of the form, and <a class="help lightbox" href="https://www.qld.gov.au/law/births-deaths-marriages-and-divorces/birth-registration-and-adoption-records/register-a-birth/lightbox#witness" id="lightbox-uid-2">another adult</a> (18 or older) witness your signatures.</li>
                                    <li>Submit your registration form to us, either
                                        <ul>
                                            <li>in person at
                                                <ul>
                                                    <li>the Brisbane registry customer service centre at Level 32, 180 Ann Street, Brisbane</li>
                                                    <li><a href="https://www.qld.gov.au/law/births-deaths-marriages-and-divorces/courthouse-and-qgap-locations">Queensland Magistrates Court or Queensland Government Agent Program</a> (QGAP) office (except the Brisbane Magistrates Court).</li>
                                                </ul>
                                            </li>
                                            <li>by post to<br>
                                                Registry of Births, Deaths and Marriages<br>
                                                PO Box 15188<br>
                                                CITY EAST  QLD  4002
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                                <p>If you are unable to print the form, email <a href="mailto:bdm-mail@justice.qld.gov.au?subject=Birth%20registration%20form%20to%20be%20posted%20to%20parents">bdm-mail@justice.qld.gov.au</a> with your postal address.</p>
                            </div>
                            </article>
                        <article>
                            <button class="acc-heading qg-accordion--closed">
                            <a class="qg-accordion--ga" data-analytics-link-group="More information">
                                <span class="accordion-label">
                                <span class="title">Accepted payment types</span>
                                </span>
                            </a>
                            </button>
                            <div class="collapsing-section" id="id-panel-1-249931">
                            <p>You can pay:</p>
                                <ul>
                                    <li>online</li>
                                        <ul>
                                            <li>by credit card (Visa or MasterCard)</li>
                                        </ul>
                                    <li>at the customer service centre</li>
                                        <ul>
                                            <li>by EFTPOS or credit card</li> 
                                            <li>with a business account cheque</li>
                                            <li>with a bank cheque</li>
                                            <li>with a money order</li>
                                        </ul>
                                    <li>through the mail</li>
                                        <ul>
                                            <li>within Australia</li>
                                                <ul>
                                                    <li>by credit card</li>
                                                    <li>with a business account cheque</li>
                                                    <li>with a bank cheque</li>
                                                    <li>with a money order</li>
                                                </ul>
                                        </ul>
                                        <ul>
                                            <li>from overseas</li>
                                                <ul>
                                                    <li>by credit card.</li>
                                                </ul>
                                        </ul>
                                </ul>
                                <p>We will accept cash at the customer service centre but prefer contactless payments, such as EFTPOS or credit card.</p>
                    
                                <p>We <strong>do not</strong> accept personal cheques or cheques issued from outside Australia (in any currency).</p>
                    
                                <p>Make Australian-drawn cheques and money orders payable to 'Registry of Births, Deaths and Marriages'.</p>
                            </div>
                        </article>
                        <article>
                            <button class="acc-heading qg-accordion--closed">
                            <a class="qg-accordion--ga" data-analytics-link-group="Prohibited names">
                                <span class="accordion-label">
                                <span class="title" data-analytics-link-group="accordion-interaction"
                                    >Prohibited names</span
                                >
                                </span>
                            </a>
                            </button>
                            <div class="collapsing-section" id="id-panel-2-249931">
                            <p>Parents have the right to choose the name of their child. However, when considering names, the Registrar-General must refuse to register a name that:</p>
                    
                            <ul type="disc">
                                <li>is obscene or offensive</li>
                                <li>is too long</li>
                                <li>includes symbols without phonetic significance—for example, brackets (), colons (:), question marks (?), quotation marks (“), numbers, at symbols (@), plus signs (+)</li>
                                <li>includes or resembles an official title or rank—for example Duchess, Sergeant, Doctor, MP (Member of Parliament)</li>
                                <li>is a statement—for example, Save Mother Earth</li>
                                <li>is a political slogan</li>
                                <li>is otherwise contrary to the public interest.</li>
                            </ul>
                                
                            <p>The <a href="https://www.publications.qld.gov.au/dataset/rbdm-policies/resource/6f80a6e2-a991-4015-acb1-e7599f072bfb">prohibited name policy</a> includes detailed advice about what kinds of names are prohibited.</p>
                            </div>
                        </article>
                    </section><br>

                    <p class="mt-3"><a href="iframe.html?args=&id=templates-multistepform--step-one&viewMode=story" type="button" class="qg-btn btn-primary" id="button1">Start now</a></p>


                    <div class="qg-content-footer">

                        <dl>
                          <dt>Last updated:</dt>
                          <dd>10 October 2022</dd>
                        </dl>
              
                      <p id="document-licence"><a rel="license" href="//creativecommons.org/licenses/by/4.0/" title="Text available under Creative Commons Attribution 4.0 International (CC BY 4.0) licence"><img src="https://static.qgov.net.au/assets/v4/latest/images/licences/by-80x15.png" alt="Creative Commons Attribution 4.0 International (CC BY 4.0)"></a></p></div>

                    <!--#include virtual="/assets/includes-local/content/options.html"-->
            
                </div>

                <aside id="qg-secondary-content">
                        
                    <div class="qg-aside" role="complementary">
                        <h2>Need help?</h2>
                        <p>Submit an <a href="https://www.forms.services.bdm.qld.gov.au/#/generalenquiry"> online enquiry</a>.</p>
                        <p>Call <a href="tel:137468">13 QGOV (13 74 68)</a>.</p>
                        <p>International callers: <a href="tel:61733284811">+61 7 3328 4811</a> (+10 hours UTC).</p>
                    </div>

                    <div class="qg-aside" role="complementary">
                        <h2>Found a mistake?</h2>
                        <p>If you have submitted your baby's birth registration online in the last 2 days and have found a mistake, email <a href="mailto:M-BDM-Online-Birth-Registration@justice.qld.gov.au">M-BDM-Online-Birth-Registration@justice.qld.gov.au</a>.</p>
                        <p>If you submitted it more than 2 days ago, <a href="https://www.qld.gov.au/law/births-deaths-marriages-and-divorces/birth-death-and-marriage-certificates/correct-a-certificate">request a review of the certificate</a>.</p>
                    </div>

                    <div class="qg-aside" role="complementary">
                        <h2 style="line-height: 1.3em;">Was you baby born outside of Queensland?</h2>
                        <p>We can only register your child's birth if they were born in Queensland.</p>
                        <p>See a list of <a href="http://www.qld.gov.au/law/births-deaths-marriages-and-divorces/birth-death-and-marriage-certificates/interstate-and-overseas-registry-offices/">interstate and overseas registry offices</a>.</p>
                    </div>
                    
                </aside>

                <nav class="qg-section-nav" aria-label="side navigation" role="navigation">

                    <h2><a href="#">Birth registration, surrogacy and adoption records</a></h2>
                    <ul aria-label="section navigation">
                        <li><a href="#" class="active">Register a birth</a></li>
                        <li><a href="#">Our Kids Count</a></li>
                        <li><a href="#">Access adoption records</a></li>
                        <li><a href="#">Add the father/parent to birth registration</a></li>
                        <li><a href="#">Surrogacy</a></li>
                        <li><a href="#">Note a change of sex in a birth or adoption register</a></li>
                    </ul>

                </nav>

            </div>

        </div>
    </div>

    <!--#include virtual="/assets/includes-local/footer/footer-without-location.html"-->

    <script>
      var qg = qg || {};
      qg.swe = qg.swe || {};
      // Used by the feedback form.
      qg.swe.franchiseTitle = 'Franchise Title';
    </script>

    <!--#include virtual="/assets/includes-local/footer/footer-scripts.html"-->

</body>

</html>
