<!DOCTYPE html>

<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Contact | Queensland Government</title>

    <meta name="description" content="DESCRIPTION">
    <meta name="keywords" content="KEYWORDS">

    <meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou=DEPARTMENT NAME; ou=UNIT NAME">
    <meta name="DCTERMS.publisher" scheme="AGLSTERMS.AglsAgent" content="corporateName=The State of Queensland; jurisdiction=Queensland">
    <meta name="DCTERMS.created" content="2010-11-04">
    <meta name="DCTERMS.modified" content="2011-03-05">
    <meta name="DCTERMS.title" content="Add your heading">
    <meta name="DCTERMS.alternative" content="Add your heading">
    <meta name="DCTERMS.description" content="DESCRIPTION">
    <meta name="DCTERMS.subject" scheme="AGLSTERMS.APAIS" content="SUBJECT">
    <meta name="AGLSTERMS.function" scheme="AGLSTERMS.AGIFT" content="FUNCTION">
    <meta name="DCTERMS.type" scheme="DCTERMS.DCMIType" content="Text">
    <meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="guidelines">
    <meta name="DCTERMS.audience" scheme="AGLSTERMS.agls-audience" content="">
    <meta name="DCTERMS.jurisdiction" scheme="AGLSTERMS.AglsJuri" content="Queensland">

    <!-- Open graph -->
    <meta property="og:title" content="Queensland Government">
    <meta property="og:description" content="DESCRIPTION">
    <meta property="og:image" content="/assets/v4/latest/images/coat-of-arms/coa-thumbnail.png">
    <meta property="og:url" content="">
    <meta property="og:type" content="article" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Queensland Government" />
    <meta name="twitter:description" content="DESCRIPTION" />
    <meta name="twitter:image" content="/assets/v4/latest/images/coat-of-arms/coa-thumbnail.png" />

    <!--#include virtual="/assets/includes-local/head-assets.html"-->

    <!-- JavaScript code -->
    <script>
        // Get references to the select input and the div to display the selected option text
        const selectInput = document.getElementById('select-input');
        const selectedOptionText = document.getElementById('selected-option-text');
    
        // Add event listener to the select input
        selectInput.addEventListener('change', () => {
        // Get the selected option value
        const selectedOption = selectInput.value;
    
        // Update the text below the select input based on the selected option
        switch (selectedOption) {
            case 'One':
            selectedOptionText.innerHTML = `
            <section class="row qg-cards qg-cards__equal-height">
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>Transport and Main Roads (TMR)</h2>
                            <p>For enquiries about driving, vehicles, registrations, boating, public transport and roads.</p>
                            <ul>
                                <li><a href="https://www.tmr.qld.gov.au/About-us/Contact-us" target="_blank">Contact us - Transport and Main Roads</a></li>
                                <li><a href="https://www.qld.gov.au/transport/contacts/centres" target="_blank">Find a TMR service centre near you</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>You might be looking for</h2>
                            <ul>
                                <li><a href="https://www.qld.gov.au/transport/registration/register/renew/renew-rego">Pay your rego</a></li>
                                <li><a href="https://www.qld.gov.au/transport/licensing/getting/learner">Getting a learner licence</a></li>
                                <li><a href="https://www.qld.gov.au/disability/out-and-about/travel-transport/driving/parking-permits">Apply for a disability parking permit</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>
            `;
            break;
            case 'Two':
            selectedOptionText.innerHTML = selectedOptionText.innerHTML = `
            <section class="row qg-cards qg-cards__equal-height">
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>QGov identity</h2>
                            <p>For help with using and setting up your QGov identity.</p>
                            <ul>
                                <li><a href="https://identity.qld.gov.au/help/faq.html" target="_blank">QGov frequently asked questions</a></li>
                                <li><a href="tel:137468" data-analytics-link-group="qg-contact-phone">Call 13 QGOV (13 74 68)</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>You might be looking for</h2>
                            <ul>
                                <li><a href="https://identity.qld.gov.au/help/faq.html#whatIfIForgetMyQGovLoginPassword">How do I reset my QGov identity password?</a></li>
                                <!--<li><a href="https://identity.qld.gov.au/help/faq.html#whatAreTheBenefitsOfALogin">What are the benefits of a QGov identity?</a></li>-->
                                <li><a href="https://identity.qld.gov.au/help/faq.html#howDoIProveMyDigitalIdentity">How do I prove my digital identity?</a></li>
                                <!--<li><a href="https://identity.qld.gov.au/help/faq.html#isMyPrivacyProtected">Is my privacy protected?</a></li>-->
                            </ul>
                        </div>
                    </div>
                </article>
            </section>
            `;;
            break;
            case 'Three':
            selectedOptionText.innerHTML = `
            <section class="row qg-cards qg-cards__equal-height">
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>Births, Deaths and Marriages (BDM)</h2>
                            <p>Contact BDM for enquiries about births, deaths, marriages, divorces, and changing your name.</p> 
                            <ul>
                                <li><a href="https://www.forms.services.bdm.qld.gov.au/#/generalenquiry" target="_blank">BDM online general enquiry form</a></li>
                                <li><a href="tel:137468" data-analytics-link-group="qg-contact-phone">Call 13 QGOV (13 74 68)</a></li>                                
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>You might be looking for</h2>
                            <ul>
                                <li><a href="https://www.qld.gov.au/law/births-deaths-marriages-and-divorces/birth-death-and-marriage-certificates/birth-certificates">How do I order a birth certificate?</a></li>
                                <li><a href="https://www.qld.gov.au/law/births-deaths-marriages-and-divorces/birth-registration-and-adoption-records/register-a-birth">How do I register a birth?</a></li>
                                <li><a href="https://www.qld.gov.au/law/births-deaths-marriages-and-divorces/changing-your-name">Changing your name as an adult</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>`;
            break;
            case 'Four':
            selectedOptionText.innerHTML = `
            <section class="row qg-cards qg-cards__equal-height">
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>Housing and homes</h2>
                            <p>For help with homes and housing, including public and community housing, renting, emergency and temporary accommodation, and buying, building and modifying a home.</p>
                            <ul>
                                <li><a href="https://www.qld.gov.au/housing/public-community-housing/housing-service-centre" target="_blank">Contact or visit a Housing Service Centre</a></li>
                                <li><a href="tel:137468" data-analytics-link-group="qg-contact-phone">Call 13 QGOV (13 74 68)</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>You might be looking for</h2>
                            <ul>
                                <li><a href="https://www.qld.gov.au/housing/renting/rent-assistance">Help with renting</a></li>
                                <li><a href="https://www.qld.gov.au/housing/public-community-housing/eligibility-applying-for-housing">Eligibility and applying for housing</a></li>
                                <li><a href="https://www.qld.gov.au/housing/emergency-temporary-accommodation/housing-help-after-disaster">Housing help after a disaster</a></li>
                                <li><a href="https://www.qld.gov.au/housing/buying-owning-home/advice-buying-home">Advice on buying a home</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>`;
            break;
            case 'Five':
            selectedOptionText.innerHTML = `
            <section class="row qg-cards qg-cards__equal-height">
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>Blue Card Services</h2>
                            <p>For help with your blue card application and for questions about working and volunteering with children.</p>
                            <ul>
                                <li><a href="https://www.qld.gov.au/law/laws-regulated-industries-and-accountability/queensland-laws-and-regulations/regulated-industries-and-licensing/blue-card/contacting/contact" target="_blank">Contact us - Blue Card Services</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>You might be looking for</h2>
                            <ul>
                                <li><a href="https://my.bluecard.qld.gov.au">Check the status of your blue card application</a></li>
                                <li><a href="https://www.qld.gov.au/law/laws-regulated-industries-and-accountability/queensland-laws-and-regulations/regulated-industries-and-licensing/blue-card/system/system-explained">The blue card system explained</a></li>
                                <li><a href="https://www.qld.gov.au/law/laws-regulated-industries-and-accountability/queensland-laws-and-regulations/regulated-industries-and-licensing/blue-card/required">Do I need a blue card?</a></li>
                        </div>
                    </div>
                </article>
            </section>`;
            break;
            case 'Six':
            selectedOptionText.innerHTML = `
            <section class="row qg-cards qg-cards__equal-height">
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>Seniors Card</h2>
                            <p>Need help applying for a Seniors Card, Seniors Card +go or Seniors Business Discount Card?</p>
                            <ul>
                                <li><a href="tel:137468" data-analytics-link-group="qg-contact-phone">Call 13 QGOV (13 74 68)</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>You might be looking for</h2>
                            <ul>
                                <li><a href="https://www.qld.gov.au/seniors/legal-finance-concessions/seniors-card/applying-seniors-card">Am I eligible for a Seniors Card?</a></li>
                                <li><a href="https://www.qld.gov.au/seniors/legal-finance-concessions/seniors-card/using-seniors-card">Where can I use my Seniors Card?</a></li>
                        </div>
                    </div>
                </article>
            </section>`;
            break;
            case 'Seven':
            selectedOptionText.innerHTML = `
            <section class="row qg-cards qg-cards__equal-height">
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>Fines and penalties e.g. SPER</h2>
                            <p>Contact State Penalties Enforcement Register (SPER) for questions about paying your fines and penalties, including infringement notice fines.</p>
                            <ul>
                                <li><a href="https://qro.qld.gov.au/about-qro/sper/contact-us/" target="_blank">Contact us - SPER</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>You might be looking for</h2>
                            <ul>
                                <li><a href="https://www.qld.gov.au/transport/safety/fines/pay">Pay a fine</a></li>
                                <li><a href="https://online.sper.qld.gov.au/home">Manage your SPER debt</a></li>
                        </div>
                    </div>
                </article>
            </section>`;
            break;
            case 'Eight':
            selectedOptionText.innerHTML = `
            <section class="row qg-cards qg-cards__equal-height">
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>Office of Fair Trading (OFT)</h2>
                            <p>Contact OFT for questions about consumer protection laws.</p>
                            <ul>
                                <li><a href="https://www.qld.gov.au/law/laws-regulated-industries-and-accountability/queensland-laws-and-regulations/fair-trading-services-programs-and-resources/fair-trading-services-and-contact-information" target="_blank">Contact us - Office of Fair Trading</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>You might be looking for</h2>
                            <ul>
                                <li><a href="https://www.qld.gov.au/law/your-rights/consumer-rights-complaints-and-scams/make-a-consumer-complaint">Make a consumer complaint</a></li>
                                <li><a href="https://www.qld.gov.au/law/your-rights/consumer-rights-complaints-and-scams/scams-fraud">Learn about recent and common scams</a></li>
                        </div>
                    </div>
                </article>
            </section>`;
            break;
            case 'Nine':
            selectedOptionText.innerHTML = `
            <section class="row qg-cards qg-cards__equal-height">
                <article class="qg-card qg-card__light-theme col-12 col-sm-9 col-md-5">
                    <div class="content">
                        <div class="details qg-cards__row-1" >
                            <h2>General enquiries</h2>
                            <p>We welcome your questions, comments and feedback on all services.</p>
                            <ul>
                                <li><a href="tel:137468" data-analytics-link-group="qg-contact-phone">Call 13 QGOV (13 74 68) </a> <p>We can answer your calls 24 hours a day, 7 days a week. International callers: <a href="tel:+61733284811" data-analytics-link-group="qg-contact-phone">+61 7 3328 4811</a>(+10 hours UTC).</p></li>
                                <li><a href="https://www.tmr.qld.gov.au/help/online-services-help/live-chat-with-us-via-messaging" target="_blank"> Message us</a> </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>`;
            break;
            default:
            selectedOptionText.innerHTML = ''; // Hide the text if no option is selected
            break;
        }
        });
    </script>

    <script>
        // Get references to the radio buttons and div elements
        const radioButtons = document.querySelectorAll('input[type="radio"][name="tabs-radio"]');
        const tabContents = document.querySelectorAll('.qg-tab-content');
        
        // Add event listeners to the radio buttons
        radioButtons.forEach(radioButton => {
            radioButton.addEventListener('click', () => {
            // Loop through the div elements and show/hide based on the selected radio button
            tabContents.forEach(tabContent => {
                tabContent.style.display = (radioButton.value === tabContent.id) ? 'block' : 'none';
            });
            });
        });
    </script>

    <style>
        #qg-primary-content a,
        .qg-card .content a,
        #qg-primary-content a:visited,
        .qg-card .content a:visited {
            color:#13578b !important;
            text-decoration-color: #457aa3 !important;
        }

        #qg-banner-blurb {
            width: 100% !important;
            flex: 0 0 100% !important;
            max-width: 100% !important;
            min-height: 361px !important;
            height: auto !important;
            box-sizing: border-box !important;
            padding: 1px !important;
            clear: both !important;
            position: relative !important;
        }

        #qg-banner-blurb .blurb {
            background: #f5f5f5 url(https://www.qld.gov.au/__data/assets/image/0021/177501/varieties/1600x361.png) no-repeat center/cover !important;
        }

        @media (min-width: 768px) {
            #qg-banner-blurb .blurb  {
                background-image: none !important;
                background-color: transparent !important;
            }
        }

        @media (max-width: 768px) {
            #qg-banner-blurb .blurb  {
                padding: 40px 25px !important;
            }
        }

        #qg-primary-content {
            padding-left: 0;
            padding-right: 0;
        }

        ul.qg-share-list {
            margin-bottom: 0 !important;
        }

        ul.qg-share-list li {
            margin-bottom: 0 !important;
        }

        .qg-accordion--ga {
            margin: 0 !important;
        }

        .blurb {
            background: none !important;
            width: auto !important;
        }

        .blurb label {
            color: white !important;
            margin-top: 0.8rem;
            margin-bottom: 0.5rem;
            display: block;
            font-weight: 400;
        }

        .qg-banner-blurb_wrapper .qg-forms-v2 .form-control {
            border: 4px solid white;
        }

        .qg-banner-blurb_wrapper .qg-card {
            display: block !important;
            margin-top: 1rem;
            margin-bottom: 0;
        }

        .qg-banner-blurb_wrapper .qg-card .content {
            background-color: white !important;
            border: white !important;
        }

        #qg-banner-blurb .blurb>h1,
        #qg-banner-blurb .blurb>p {
            color: white !important;
        }

        .qg-banner-blurb_wrapper .qg-card .content ul>li {
            margin-top: 0.6em;
        }

        .qg-banner-blurb_wrapper .qg-card .content ul {
            margin-bottom: 10px !important;
        }

    </style>

</head>

<body data-qg-accessibility="true">

    <!--#include virtual="/assets/includes-local/analytics.html"-->
    <!--#include virtual="/assets/includes-local/header/access.html"-->
    <!-- global alert -->

    <!--#include virtual="/assets/includes-local/header/header-without-location.html"-->
    
    <div class="qg-global-breadcrumb qg-breadcrumb">
        <div class="container-fluid qg-site-width">
            <nav id="qg-breadcrumb" aria-label="breadcrumb" class="qg-breadcrumb-nav row">
            <ol class="qg-breadcrumb-list">
                <li class="qg-breadcrumb-list-item">
                <a href="/" class="qg-breadcrumb-list-item__link">
                    Home
                </a>
                </li>
                <li class="qg-breadcrumb-list-item">
                    Contact us
                </li>
            </ol>
            </nav>
        </div>
    </div>

    <div class="container-fluid">
        <div id="qg-content">
            <div id="qg-one-col" class="row wide">
                  
                <section id="qg-banner-blurb" style="background:#f5f5f5 url('https://www.qld.gov.au/__data/assets/image/0021/177501/varieties/1600x361.png') no-repeat center/cover; padding-right: 0 !important; padding-left: 0 !important;" class="hide-xs-hero-img ">
                     
                    <div class="qg-banner-blurb_wrapper">
                        <div class="blurb dark  top-left ">
                            <h1>Contact the Queensland Government</h1>
                            <p>Find the right support by selecting from the options below.</p>
                            
                            <section class="qg-service-finder__container">
                                <div class="row">        
                                    <div class="qg-service-finder__search-bar col-12 col-sm-12 col-md-6">
                                        <form class="qg-forms-v2">
                                            <label for="select-input"><h3>I have an enquiry about ...</h3></label>
                                            <select class="form-control" id="select-input">
                                              <option class="placeholder">Select</option>
                                              <option value="One">Transport and motoring (TMR)</option>
                                              <option value="Two">QGov identity</option>
                                              <option value="Three">Births, deaths and marriages (BDM)</option>
                                              <option value="Four">Housing and homes</option>
                                              <option value="Five">Blue Card</option>
                                              <option value="Six">Seniors Card</option>
                                              <option value="Seven">Fines and penalties e.g. SPER</option>
                                              <option value="Eight">Office of Fair Trading (OFT)</option>
                                              <option value="Nine">Other</option>
                                            </select>
                                        </form>
                                                                              
                                    </div> 
                                </div>
                            </section> 

                            <div id="selected-option-text"><!-- Empty div to display the selected option text --></div> 

                        </div>    
                    </div>
                      
                </section>
            
                <div class="qg-site-width container-fluid">

                    <div id="qg-primary-content" role="main" style="margin-top: 10px;">

                        <div class="row">
                            <div class="col-12">

                                <section class="pt-2 pb-3">
                                    <h2>Or choose another contact method</h2>
                                    <!-- 
                                        radio component template from https://qld-gov-au.github.io/web-template-release/forms.html#radio-checkbox-custom-theme.
                                        need to add "w-100" in serveral places to fix the tab style.
                                        a11y is not considered here, as it will require to develop proper tabs component in SWE
                                        ie. develop tabs component based on https://www.w3.org/TR/2018/WD-wai-aria-practices-1.2-20181218/examples/tabs/tabs-2/tabs.html
                                    -->
                                    <form id="contact-us-tabs">
                                        <ul class="choices compact rc-theme qg-radio-tabs">
                                            <li class="rc-theme__active">
                                                <input type="radio" value="tab2" name="tabs-radio" id="tab2-radio" checked>
                                                <label for="tab2-radio" class="rc-theme__with-image w-100">
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58" height="58" viewBox="0 0 100 100">
                                                        <path class="rc-theme__icon" fill-rule="evenodd" clip-rule="evenodd" d="M77.2778 64.5278C72.625 64.5278 68.1583 63.7833 63.9894 62.4061C63.6172 62.2944 63.2078 62.22 62.8356 62.22C61.8678 62.22 60.9372 62.5922 60.1928 63.2994L52.0039 71.4883C41.47 66.1283 32.8344 57.53 27.4744 46.9961L35.6633 38.77C36.7056 37.765 37.0033 36.3133 36.5939 35.0106C35.2167 30.8417 34.4722 26.375 34.4722 21.7222C34.4722 19.675 32.7972 18 30.75 18H17.7222C15.675 18 14 19.675 14 21.7222C14 56.6739 42.3261 85 77.2778 85C79.325 85 81 83.325 81 81.2778V68.25C81 66.2028 79.325 64.5278 77.2778 64.5278ZM27.14 25.4443C27.4005 28.7199 27.9589 31.9582 28.8522 35.0849L24.3855 39.5888C22.8594 35.0849 21.8916 30.3577 21.5566 25.4443H27.14ZM59.4102 74.6151C63.8768 76.1412 68.6413 77.109 73.5546 77.444V71.8234C70.279 71.6001 67.0407 71.0418 63.8768 70.1484L59.4102 74.6151ZM47.5 18V55.2222L58.6667 44.0556H81V18H47.5ZM54.9453 36.611H73.5564V25.4443H54.9453V36.611Z"/>
                                                    </svg>
                                                    <span class="rc-theme__label-desc w-100">Phone</span>
                                                </label>
                                            </li>
                                            <li>
                                            <!-- first tab checked by default -->
                                            <input type="radio" value="tab1" name="tabs-radio" id="tab1-radio">
                                            <label for="tab1-radio" class="rc-theme__with-image w-100">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58" height="58" viewBox="0 0 100 100">
                                                    <path class="rc-theme__icon" d="M39.066 87.3823L85.9449 24.4789L8.02973 33.6257L20.0697 54.5482L68.1086 34.7767L26.9666 66.4941L39.066 87.3823Z"/>
                                                </svg>
                                                <span class="rc-theme__label-desc w-100">Message</span>
                                            </label>
                                            </li>
                                            
                                            <li>
                                            <input type="radio" value="tab3" name="tabs-radio" id="tab3-radio">
                                            <label for="tab3-radio" class="rc-theme__with-image w-100">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58" height="58" viewBox="0 0 100 100">
                                                    <path class="rc-theme__icon" fill-rule="evenodd" clip-rule="evenodd" d="M43.375 47C42.0688 47 41 48.125 41 49.5C41 50.875 42.0688 52 43.375 52C44.6813 52 45.75 50.875 45.75 49.5C45.75 48.125 44.6813 47 43.375 47ZM57.625 47C56.3188 47 55.25 48.125 55.25 49.5C55.25 50.875 56.3188 52 57.625 52C58.9312 52 60 50.875 60 49.5C60 48.125 58.9312 47 57.625 47ZM48.125 49.5C48.125 48.125 49.1938 47 50.5 47C51.8062 47 52.875 48.125 52.875 49.5C52.875 50.875 51.8062 52 50.5 52C49.1938 52 48.125 50.875 48.125 49.5Z"/>
                                        <path class="rc-theme__icon" fill-rule="evenodd" clip-rule="evenodd" d="M49.5 26C37.0736 26 27 36.0736 27 48.5C27 60.9264 37.0736 71 49.5 71C61.9264 71 72 60.9264 72 48.5C72 36.0736 61.9264 26 49.5 26ZM21 48.5C21 32.7599 33.7599 20 49.5 20C65.2401 20 78 32.7599 78 48.5C78 64.2401 65.2401 77 49.5 77C33.7599 77 21 64.2401 21 48.5Z"/>

                                                </svg>
                                                <span class="rc-theme__label-desc w-100">Other ways to contact us</span>
                                            </label>
                                            </li>
                                        </ul>
                                    </form>

                                    <div id="tab1" class="qg-tab-content" style="display: none;">
                                        <h2>Message us</h2>
                                        <p>Our virtual assistant can answer your questions instantly or connect you with us.</p>
                                        <p class="mt-2 pb-3"><a href="https://www.tmr.qld.gov.au/help/online-services-help/live-chat-with-us-via-messaging" target="_blank">Send a message</a></p>

                                        <h2>Complaints and compliments</h2>
                                        <p>We're committed to providing excellent customer service. Your feedback helps us improve what we do.</p> 
                                        <p class="mb-3"><a href="#" target="_blank">Complaints and compliments form</a></p>
                                    </div>

                                    <div id="tab2" class="qg-tab-content" >
                                        <div class="mw-sm">
                                            <h2>Phone us</h2>

                                            <h3>General enquiries</h3>
                                            <p class="mt-2">Call <a href="tel:137468" data-analytics-link-group="qg-contact-phone">13 QGOV (13 74 68)</a></p>
                                            <p>International callers: <a href="tel:+61733284811">+61 7 3328 4811</a>(+10 hours UTC).</p>
                                            <p><strong>If it is an emergency, call Triple Zero (000) or dial 106 if you are using TTY.</strong></p>    

                                            <h3>National Relay Service</h3>                                    
                                            <p>If you are deaf or have a hearing or speech impediment, contact us through the <a href="https://www.infrastructure.gov.au/media-communications-arts/phone/services-people-disability/accesshub/national-relay-service">National Relay Service</a>.</p>
                                            
                                            <ul>
                                                <li><strong>Teletypewriter</strong>: phone <a href="tel:133677">13 36 77</a> and ask for 13 QGOV (13 74 68).</li>
                                                <li><b>Voice relay</b>: phone <a href="tel:1300555727">1300 555 727</a> and ask for 13 74 68.</li>
                                                <li><strong>Internet relay (NRS chat)</strong>: log into the <a href="https://www.infrastructure.gov.au/media-communications-arts/phone/services-people-disability/accesshub/national-relay-service/service-features#nrschat">internet relay call (NRS Chat)</a> page and type in 13 QGOV (13 74 68).</li>
                                                <li><strong>Video relay</strong>: choose the available video relay contact on Skype and ask for 13 QGOV (13 74 68).</li>
                                                <li><strong>SMS relay</strong>: send a text message to <a href="tel:0423677767">0423 677 767</a> asking for 13 QGOV (13 74 68).</li>
                                            </ul>
                                            
                                            <h3>Interpreter services</h3>
                                            <p>If you need an interpreter, call <a href="tel:1800512451">1800 512 451</a>.</p>
                                        </div>
                                    </div>

                                    <div id="tab3" class="qg-tab-content" style="display: none;">
                                        <h2>Other ways to contact us</h2>
                                        
                                        <section class="row qg-cards">
                                            
                                            <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4 ">                                        
                                                <div class="content">
                                                    <div class="details  qg-cards__row-1">
                                                        <h3>Visit a government service office</h3>
                                                        <p>Find your nearest <a href="https://www.qld.gov.au/about/contact-government/contacts/government-service-offices">Queensland Government service office</a>.</p>
                                                    </di>
                                                </div>
                                            </article>
                                            
                                            <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4 ">
                                                <div class="content">
                                                    <div class="details  qg-cards__row-1">                                                
                                                        <h3>Look up departments and agencies</h3>
                                                        <p>Find contact information in our <a href="https://www.qld.gov.au/about/how-government-works/government-structure">departmental directory</a> or find <a href="https://www.qld.gov.au/contact-us/postal">postal addresses</a>.</p>
                                                    </div>
                                                </div>
                                            </article>
                                            
                                            <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4 ">
                                                <div class="content">
                                                    <div class="details  qg-cards__row-1">                                                
                                                        <h3>Find information for your local Member of Parliament</h3>
                                                        <p>Find contact information for <a href="https://www.qld.gov.au/about/contact-government/contacts/local-mp">your local MP</a>.</p>
                                                    </div>
                                                </div>
                                            </article>

                                        </section>
                                        
                                        <h2 class="mt-3">Connect with us on social media</h2><p>Use our social media to ask us questions and stay up to date.</p>
                                        <ul class="mb-3">
                                            <li>Facebook (<a href="https://www.facebook.com/QueenslandGovernment" style="border:0px">/QueenslandGovernment</a>)</li>
                                            <li>Instagram (<a href="https://www.instagram.com/qldgov" style="border:0px">@QldGov</a>)</li>
                                            <li>Twitter (<a href="https://twitter.com/QldGov" style="border:0px">@QldGov</a>)</li>
                                        </ul>

                                    </div>
                                </section>

                                <section class="qg-promotional-banner__container row">
                                    <div class="wrapper qg-site-width container-fluid">
                                      <div class="qg-promotional-banner__info col-12 col-sm-6">
                                            <h2>Looking for information or services?</h2>
                                            <p>Browse information for Queenslanders or use the 'Service finder' to find Queensland Government online services anywhere, at anytime.</p>
                                            <a href="https://www.qld.gov.au/services" class="qg-btn btn-primary mt-2" style="color:black !important;">Service finder</a>
                                      </div>
                                      <div class="qg-promotional-banner__popular-apps col-12 col-sm-6">
                                            <h4 class="qg-promotional-banner__popular-apps-title">Most active</h4>
                                            <section class="qg-promotional-banner__popular-apps-tags">
                                                <ul>
                                                    <li><a href="https://www.qld.gov.au/transport/registration/register/renew" class="qg-btn btn-outline-dark m-1">Renew vehicle or boat rego</a></li>
                                                    <li><a href="https://www.qld.gov.au/environment/land/title" class="qg-btn btn-outline-dark m-1">Property title search</a></li>
                                                    <li><a href="https://www.service.transport.qld.gov.au/checkmydemeritpoints/public/Welcome.xhtml?dswid=-4297" class="qg-btn btn-outline-dark m-1">Check my licence demerit points</a></li>
                                                    <li><a href="https://www.qld.gov.au/transport/licensing/driver-licensing/renew-replace/renew/online" class="qg-btn btn-outline-dark m-1">Renew my driver licence</a></li>
                                                    <li><a href="https://www.change-of-address.services.qld.gov.au/" class="qg-btn btn-outline-dark m-1">Change my address</a></li>
                                                </ul>
                                            </section>
                                        </div>
                                    </div>
                                </section>

                            </div>
                        </div>

                    </div>
                </div>

            </div><!-- /#qg-content -->
        </div><!-- /.container-fluid -->
    </div>

    <!--#include virtual="/assets/includes-local/footer/footer-without-location.html"-->

    <script>
      var qg = qg || {};
      qg.swe = qg.swe || {};
      // Used by the feedback form.
      qg.swe.franchiseTitle = 'Franchise Title';
    </script>

    <!--#include virtual="/assets/includes-local/footer/footer-scripts.html"-->


</body>

</html>
