<!DOCTYPE html>

<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Contact | Queensland Government</title>

    <meta name="description" content="DESCRIPTION">
    <meta name="keywords" content="KEYWORDS">

    <meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou=DEPARTMENT NAME; ou=UNIT NAME">
    <meta name="DCTERMS.publisher" scheme="AGLSTERMS.AglsAgent" content="corporateName=The State of Queensland; jurisdiction=Queensland">
    <meta name="DCTERMS.created" content="2010-11-04">
    <meta name="DCTERMS.modified" content="2011-03-05">
    <meta name="DCTERMS.title" content="Add your heading">
    <meta name="DCTERMS.alternative" content="Add your heading">
    <meta name="DCTERMS.description" content="DESCRIPTION">
    <meta name="DCTERMS.subject" scheme="AGLSTERMS.APAIS" content="SUBJECT">
    <meta name="AGLSTERMS.function" scheme="AGLSTERMS.AGIFT" content="FUNCTION">
    <meta name="DCTERMS.type" scheme="DCTERMS.DCMIType" content="Text">
    <meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="guidelines">
    <meta name="DCTERMS.audience" scheme="AGLSTERMS.agls-audience" content="">
    <meta name="DCTERMS.jurisdiction" scheme="AGLSTERMS.AglsJuri" content="Queensland">

    <!-- Open graph -->
    <meta property="og:title" content="Queensland Government">
    <meta property="og:description" content="DESCRIPTION">
    <meta property="og:image" content="/assets/v4/latest/images/coat-of-arms/coa-thumbnail.png">
    <meta property="og:url" content="">
    <meta property="og:type" content="article" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Queensland Government" />
    <meta name="twitter:description" content="DESCRIPTION" />
    <meta name="twitter:image" content="/assets/v4/latest/images/coat-of-arms/coa-thumbnail.png" />

    <!--#include virtual="/assets/includes-local/head-assets.html"-->

    <style>
        #qg-primary-content a:visited {color:#13578b !important;}
        #qg-primary-content {
                padding-left: 0;
                padding-right: 0;
            }

        ul.qg-share-list {
            margin-bottom: 0 !important;
        }

        ul.qg-share-list li {
            margin-bottom: 0 !important;
        }

        .qg-accordion--ga {
            margin: 0 !important;
        }

        .qg-card {
            margin-bottom: 1.2em;
        }
    </style>

</head>

<body data-qg-accessibility="true">

    <!--#include virtual="/assets/includes-local/analytics.html"-->
    <!--#include virtual="/assets/includes-local/header/access.html"-->
    <!-- global alert -->

    <!--#include virtual="/assets/includes-local/header/header-without-location.html"-->
    
    <div class="qg-global-breadcrumb qg-breadcrumb">
        <div class="container-fluid qg-site-width">
            <nav id="qg-breadcrumb" aria-label="breadcrumb" class="qg-breadcrumb-nav row">
            <ol class="qg-breadcrumb-list">
                <li class="qg-breadcrumb-list-item">
                <a href="/" class="qg-breadcrumb-list-item__link">
                    Home
                </a>
                </li>
                <li class="qg-breadcrumb-list-item">
                    Contact us
                </li>
            </ol>
            </nav>
        </div>
    </div>

    <div class="container-fluid">

        <div id="qg-content">
            <div id="qg-one-col" class="row wide">

                <section id="qg-banner-blurb" style="background:#f5f5f5 url('https://www.qld.gov.au/__data/assets/image/0014/270410/varieties/1600x361.jpg') no-repeat center/cover;" class="hide-xs-hero-img ">
                    <div class="qg-banner-blurb_wrapper">
                        <div class="blurb dark top-left ">
                            <h1>Contact the Queensland Government</h1>
                            <p class="b-sub">Call Triple Zero (000) for emergencies:<br>Police, Fire or Ambulance</p>
                        </div>    
                    </div>                        
                </section>

                <div class="qg-site-width container-fluid">

                    <div id="qg-primary-content" role="main" style="margin-top: 10px;">

                        <h2 class="mb-3">General enquiries</h2>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-8" style="padding-left:1em;padding-right:1em;">

                                <section class="qg-callout__box qg-callout__default-theme mt-0 mb-3">
                                    <div class="qg-callout__header col-12">
                                        <h3 class="qg-callout__title"><i class="fa fa-phone mr-1" aria-hidden="true"></i> Phone us</h3>
                                    </div>
                                    <div class="qg-callout__content col-12">
                                        <div class="qg-callout__bottom-alignment">
                                            <div class="qg-callout__description">
                                                <p>We welcome your questions, comments and feedback on all of our services.</p>
                                                <p class="mt-2 mb-2"><a href="tel:137468" data-analytics-link-group="qg-contact-phone">Call 13 QGOV (13 74 68) </a></p>
                                                <p class="mb-2">International callers: <a href="tel:+61733284811">+61 7 3328 4811</a>(+10 hours UTC).</p>
                                                <p><strong>If it is an emergency, call Triple Zero (000) or dial 106 if you are using TTY.</strong></p>
                                                
                                                <h4 class="mt-4 mb-2">National Relay Service</h4>
                                    
                                                <p>If you are deaf or have a hearing or speech impediment, contact us through the <a href="https://www.infrastructure.gov.au/media-communications-arts/phone/services-people-disability/accesshub/national-relay-service">National Relay Service</a>.</p>
                                                
                                                <ul>
                                                    <li><strong>Teletypewriter</strong>: phone <span class="d-none d-sm-inline">13 36 77</span> and ask for 13 QGOV (13 74 68).</li>
                                                    <li><b>Voice relay</b>: phone <a href="tel:1300%20555%20727" class="d-inline d-sm-none" data-analytics-link-group="qg-contact-phone">1300 555 727</a><span class="d-none d-sm-inline">1300 555 727</span> and ask for 13 74 68.</li>
                                                    <li><strong>Internet relay (NRS chat)</strong>: log into the <a href="https://www.infrastructure.gov.au/media-communications-arts/phone/services-people-disability/accesshub/national-relay-service/service-features#nrschat">internet relay call (NRS Chat)</a> page and type in 13 QGOV (13 74 68).</li>
                                                    <li><strong>Video relay</strong>: choose the available video relay contact on Skype and ask for 13 QGOV (13 74 68).</li>
                                                    <li><strong>SMS relay</strong>: send a text message to 0423 677 767 asking for 13 QGOV (13 74 68).</li>
                                                </ul>
                                                
                                                <h4 class="pt-2 mb-2">Interpreter services</h4>
                                                <p>If you need an interpreter, call <a href="tel:1800%20512%20451" data-analytics-link-group="qg-contact-phone">1800 512 451</a>.</p>          
                                            </div>
                                        </div>
                                    </div>
                                </section>

                            </div>

                            <div class="col-12 col-sm-12 col-md-4" style="padding-left:1em;padding-right:1em;">

                                <section class="qg-callout__box qg-callout__default-theme mt-0 mb-3">
                                    <div class="qg-callout__header col-12">
                                        <h3 class="qg-callout__title"><i class="fa fa-comment mr-1" aria-hidden="true"></i> Message us</h3>
                                    </div>
                                    <div class="qg-callout__content col-12">
                                        <div class="qg-callout__bottom-alignment">
                                            <div class="qg-callout__description">
                                                <p>Our virtual assistant can answer your questions instantly or connect you with us.</p>
                                                <p class="mt-2">We're available from 8am to 4.30pm, Monday to Friday (excluding public holidays).</p>
                                                    <p class="mt-2"><a href="https://www.tmr.qld.gov.au/help/online-services-help/live-chat-with-us-via-messaging" target="_blank">Send a message</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">

                                <h2>Other ways to contact us</h2>
                                    
                                <section class="row qg-cards">

                                    <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4 ">
                                        <div class="content">
                                            <div class="details  qg-cards__row-1">
                                                <h3><i class="fa fa-envelope-o mr-1" aria-hidden="true"></i> Complaints and compliments</h3>
                                                <p>We're committed to providing excellent customer service. Your feedback helps us improve what we do.</p> 
                                                <p><a href="#" target="_blank">Complaints and compliments form</a></p>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4 ">
                                        <div class="content">
                                            <div class="details  qg-cards__row-1">
                                                <h3><i class="fa fa-map-marker mr-1" aria-hidden="true"></i> Visit a government service office</h3>
                                                <p>Find your nearest <a href="https://www.qld.gov.au/about/contact-government/contacts/government-service-offices">Queensland Government service office</a>.</p>
                                            </div>
                                        </div>
                                    </article>
                                
                                    <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4 ">
                                        <div class="content">
                                            <div class="details  qg-cards__row-1">
                                                <h3><i class="fa fa-list-alt mr-1" aria-hidden="true"></i> Look up departments and agencies</h3>
                                                <p>Find contact information in our <a href="https://www.qld.gov.au/about/how-government-works/government-structure">departmental directory</a> or find <a href="https://www.qld.gov.au/contact-us/postal">postal addresses</a>.</p>
                                            </div>
                                        </div>
                                    </article>
                                    
                                    <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4 ">
                                        <div class="content">
                                            <div class="details  qg-cards__row-1">
                                                <h3><i class="fa fa-address-card-o mr-1" aria-hidden="true"></i> Find information for your local Member of Parliament</h3>
                                                <p>Find contact information for <a href="https://www.qld.gov.au/about/contact-government/contacts/local-mp">your local MP</a>.</p>
                                            </div>
                                        </div>
                                    </article>
                                </section>

                                <section>
                                    <h2 class="mt-2">Connect with us on social media</h2>
                                    <p>Use our social media to ask us questions and stay up to date.</p>
                                    <ul class="mb-5">
                                        <li>Facebook (<a href="https://www.facebook.com/QueenslandGovernment" style="border:0px">/QueenslandGovernment</a>)</li>
                                        <li>Instagram (<a href="https://www.instagram.com/qldgov" style="border:0px">@QldGov</a>)</li>
                                        <li>Twitter (<a href="https://twitter.com/QldGov" style="border:0px">@QldGov</a>)</li>
                                    </ul>
                                </section>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--#include virtual="/assets/includes-local/footer/footer-without-location.html"-->

    <script>
      var qg = qg || {};
      qg.swe = qg.swe || {};
      // Used by the feedback form.
      qg.swe.franchiseTitle = 'Franchise Title';
    </script>

    <!--#include virtual="/assets/includes-local/footer/footer-scripts.html"-->


</body>

</html>
